.grid-container {
  display: grid;
  grid-template: auto auto auto / auto auto auto;
}

.grid-container > div {
  padding: 10px;
}

img {
  width: 400px;
}

.img-container {
  display: flex;
  justify-content: center;
}

.foreach {
  width: 400px;
  box-sizing: content-box;
}
