<p>Perfil Usuario</p>
<div class="w-100 h-100">
  <div class="d-flex justify-content-between me-5 ms-5">
    <div class="md-flex justify-content-start h2">{{ usuario.nombre }} {{ usuario.apellido }}</div>
    <div class="d-flex justify-content-end">
      <button class="m-1 me-2 btn btn-primary">Editar</button>
      <button class="m-1 me-2 btn btn-secundary" (click)="logOut()">Log Out</button>
    </div>
  </div>
  <hr class="border border-primary border-2 me-5 ms-5" />
  <div class="w-100 h-100">
    <div class="d-flex me-5 ms-5 border border-1 border-secondary">
      <div class="w-100 h-auto d-flex">
        <div class="content w-100 h-auto">
          <div class="border border-1 p-3 w-100 h-50">
            <div class="d-flex align-items-start">
              <p class="m-2 mb-3">Edad:</p>
              <input class="mt-1 editable" placeholder="{{ usuario.edad }}" disabled type="text" name="" id="" />
            </div>
            <div class="d-flex align-items-start">
              <p class="m-2 mb-3">Género:</p>
              <input class="mt-1 editable" placeholder="{{ usuario.genero }}" disabled type="text" name="" id="" />
            </div>
          </div>
          <div class="border border-1 p-3 w-100 h-50">
            <div class="d-flex align-items-start">
              <p class="m-2 mb-3">Dirección:</p>
              <input
                class="mt-1 editable"
                placeholder="{{ usuario.direccion.calle }} {{ usuario.direccion.numero }}"
                disabled
                type="text"
                name=""
                id="" />
            </div>
            <div class="d-flex align-items-start">
              <p class="m-2 mb-3">Ciudad:</p>
              <input class="mt-1 editable" placeholder="{{ usuario.direccion.ciudad }}" disabled type="text" name="" id="" />
            </div>
          </div>
        </div>
        <div class="content w-100 h-auto">
          <div class="border border-1 p-3 w-100 h-50">
            <div class="d-flex align-items-start">
              <p class="m-2 mb-3">Tiene discapacidad:</p>
              <input class="mt-1 editable" placeholder="{{ usuario.tieneDiscapacidad }}" disabled type="checkbox" name="" id="" />
            </div>
            <div class="d-flex align-items-start">
              <p class="m-2 mb-3">Grado de discapacidad:</p>
              <input class="mt-1 editable" placeholder="{{ usuario.gradoDiscapacidad }}" disabled type="text" name="" id="" />
            </div>
          </div>
          <div class="border border-1 p-3 w-100 h-50">
            <div class="d-flex align-items-start">
              <p class="m-2 mb-3">Email:</p>
              <input class="mt-1 editable" placeholder="{{ usuario.email }}" disabled type="email" name="" id="" />
            </div>
            <div class="d-flex align-items-start">
              <p class="m-2 mb-3">Password:</p>
              <input class="mt-1 editable" placeholder="{{ usuario.password }}" disabled type="pasword" name="" id="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Reservas-->
    <div class="me-5 ms-5 border border-1 border-info p-3" *ngIf="reservas">
      <h4 class="d-flex justify-content-center m-2 p-2">Reservas</h4>
      <div class="d-flex justify-content-center">
        <table class="table table-bordered text-center">
          <thead>
            <tr class="cabeceras table border border-1 bg-light">
              <th class="m-3 p-2 col">Nombre del restaurante</th>
              <th class="m-3 p-2 col">Fecha de la reserva</th>
              <th class="m-3 p-2 col">Servicios</th>
              <th class="m-3 p-2 col">Instrucciones especiales</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reserva of reservas">
              <td class="m-3 p-2 col"><input placeholder="{{ reserva.restaurante.nombre }}" type="text" /></td>
              <td class="m-3 p-2 col"><input type="text" name="" id="" placeholder="24/06/2022" /></td>
              <td class="m-3 p-2 col">
                <div *ngFor="let servicio of reserva.servicios">
                  <input placeholder="{{ servicio.nombre }}" type="text" />
                </div>
              </td>
              <td class="m-3 p-2 col"><input placeholder="{{ reserva.instruccionesEspeciales }}" type="text" /></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
